
@{
    ViewData["Title"] = "ViewChores";
}

@using Chore_Wars.ViewModels;

@model ViewModelPlayerChore

<h1>Chore List</h1>

@Model.Players[0].FirstName
@Model.Chores[0].ChoreDescription


<table class="table">
    <tr>
        <th>Player Name</th>
        <th>Chore Name</th>
        <th>Description</th>
        <th>Point Value</th>
        <th>Due Date</th>
    </tr>

    @{var choreList = Model.Chores; }
    @{ var playerList = Model.Players;}

    @foreach (Chore chore in choreList)
    {
        <tr>
            @if (chore.UserId == null)
            {
                //setup dropdown list

                <td>
                        @foreach (Player player in playerList)
                        //foreach member of household add a selection to dropdown list
                        {
                    <form action="../Chore/AssignChore?choreId=@chore.ChoreId&userId=@player.UserId&points=@chore.PointValue" method="post">
                        <input type="submit" value="@player.FirstName" />
                    </form>
                        }

                </td>
            }
            
            else
            {
                <td>@chore.UserId</td>
            }


            <td>@chore.ChoreName</td>
            <td>@chore.ChoreDescription</td>
            <td>@chore.PointValue</td>
            <td>@chore.DueDate</td>
            <td><a href="../Chore/DeleteChore?id=@chore.ChoreId" class="btn-danger">Delete Chore </a></td>
            <td><a href="../Chore/EditChore?id=@chore.ChoreId" class="btn-info">Edit Chore </a></td>

        </tr>
    }
</table>