
@{
    ViewData["Title"] = "ViewPlayers";
}

    <style>
        body {
            background-image: url(https://media.istockphoto.com/vectors/boxing-ring-corner-with-spotlight-vector-id590164568?k=6&m=590164568&s=612x612&w=0&h=KNCe5eCcbRtK0UFaUpAMXask93_CExb_8apYZsH6h_w=);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        #viewPlayersHeader {
            text-align: center;
            font-style: oblique;
            color: #ff6a00;
            background-color: black;
            font-weight: 900;
        }

        #deleteButton {
            border-radius: 4px;
            
        }
    </style>


<h1 id="viewPlayersHeader">Current Players</h1>

@model List<Player>

<table class="table" style="color:#ff6a00; font-weight:500; background-color:WindowText">
    <tr style="font-weight:900">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Current Points</th>
        <th>Total Earned Points</th>
        <th>Incorrect Answers</th>
    </tr>

    @foreach (var player in Model)
    {
<tr>
    <td>@player.FirstName </td>
    <td>@player.LastName</td>   
    <td>@player.CurrentPoints</td>
    <td>@player.TotalPoints</td>
    <td>@player.IncorrectAnswers</td>
    <td><a href="../Household/LoginPlayer?id=@player.UserId" class="btn-success">Log in as this user</a></td>
    <td><a id="deleteButton "href="../Player/DeletePlayer?id=@player.UserId" class="btn-danger">Delete Player</a></td>
</tr>
    }
    </table>
<br />

<div class="text-center">
    <a class="btn-success" href="../Household/AddNewPlayer"> Add New Player! </a>
</div>