
@{
    ViewData["Title"] = "EditQuestion";
}

<h1>Edit Question</h1>

@model Question


<form action="../Question/EditQuestion" method="post">
    <input type="hidden" name="QuestionId" value="@Model.QuestionId" />
    <input type="text" name="Category" value="@Model.Category" placeholder="Category" />
    <select name="Difficulty">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
    </select>
    <input type="number" name="PointValue" min="1" value="@Model.PointValue" placeholder="Point Value" />
    <input type="text" name="Question1" value="@Model.Question1" placeholder="Question Text" />
    <input type="text" name="CorrectAnswer" value="@Model.CorrectAnswer" placeholder="Correct Answer" />
    <input type="text" name="IncorrectAnswer1" value="@Model.IncorrectAnswer1" placeholder="Incorrect Answer" />
    <input type="text" name="IncorrectAnswer2" value="@Model.IncorrectAnswer2" placeholder="Incorrect Answer" />
    <input type="text" name="IncorrectAnswer3" value="@Model.IncorrectAnswer3" placeholder="Incorrect Answer" />

    <input type="submit" value="Save Changes" />
</form>

