@{
    ViewData["Title"] = "SelectQuestion";
}

@using Chore_Wars.ViewModels;
@model ViewModelPlayerChore

<style>
    body {
        background-image: url(https://i.imgur.com/FPbs9yo.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #choreWarsHeader {
        text-align: center;
        color: gold;
        font-weight: 900
    }
</style>

<h1 id="choreWarsHeader">Select Question</h1>

<div>
    <form action="../Question/SelectQuestion" method="post">
            <div class="col-md-4 offset-md-4">
                <select class="form-control" name="category">
                    <option value="10">Books</option>
                    <option value="13">Theatre</option>
                    <option value="17">Science & Nature</option>
                    <option value="18">Computers</option>
                    <option value="19">Math</option>
                    <option value="20">Mythology</option>
                    <option value="22">Geography</option>
                    <option value="22">History</option>
                    <option value="22">Art</option>
                    <option value="22">Animals</option>
                </select>
            </div>

        <div class="col-md-4 offset-md-4 container" style="display:flex; justify-content: space-between">

                <input class=" btn btn-success" style="width:33%" type="submit" name="difficulty" value="easy" />
                <input class=" btn btn-warning" style="width:33%" type="submit" name="difficulty" value="medium" />
                <input class=" btn btn-danger " style="width:33%" type="submit" name="difficulty" value="hard" />

        </div>
    </form>

    <br />

    <form action="../Question/SelectQuestion" method="post">
        <div class="col-md-4 offset-md-4 text-center">
            <input type="hidden" name="apiOrCustom" value="custom" />
            <input class="btn btn-primary" type="submit" value="Get Household Question" />
        </div>
    </form>
</div>

<br />
<br />

<h1 id="choreWarsHeader">@Model.LoggedInPlayer.FirstName's Stats</h1>

<div class="container text-center" style="color:gold">
    <div class="row offset-md-1">
        <div class="col-2">Current Points:    <b>@Model.LoggedInPlayer.CurrentPoints</b></div>
        <div class="col-2">Total Points:      <b>@Model.LoggedInPlayer.TotalPoints</b></div>
        <div class="col-2">Correct Answers:   <b>@Model.LoggedInPlayer.CorrectAnswers</b></div>
        <div class="col-2">Incorrect Answers: <b>@Model.LoggedInPlayer.IncorrectAnswers</b></div>
        <div class="col-2">Chores Complete:   <b>@Model.LoggedInPlayer.ChoresComplete</b></div>
    </div>
</div>

<br />
<br />

<div class="container" style="background-color:WindowText; color:gold">
    <div class="col-md-4 offset-md-4">BUY SOME CHORES LINK HERE</div>
</div>

<br />
<br />

<h1 id="choreWarsHeader" style="background-color:WindowText">@Model.LoggedInPlayer.FirstName's Chores</h1>

<div class="text-center">
    <table class="table" style="background-color:WindowText; color:gold">
        <tr>
            <th>Chore</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Mark Complete</th>
        </tr>

        @{ foreach (var chore in Model.Chores)
            {
                DateTime myDate = (DateTime)chore.DueDate;

                <tr>
                    <td>@chore.ChoreName</td>
                    <td>@chore.ChoreDescription</td>
                    <td>@myDate.ToShortDateString()</td>
                    <td>BUTTON HERE</td>
                </tr>
            }
        }
    </table>
</div>