
@{
    ViewData["Title"] = "SelectQuestion";
}

@model Player

<h1 style="background-color:orange;">SelectQuestion</h1>




<form class=justify-content-center action="../Question/SelectQuestion" method="post">


    Category:<select name="category">
        <option value="10">Books</option>
        <option value="15">Video Games</option>
    </select>


    <input type="submit" name="difficulty" value="easy" />
    <input type="submit" name="difficulty" value="medium" />
    <input type="submit" name="difficulty" value="hard" />
</form>
<form action="../Question/SelectQuestion" method="post">
    <input type="hidden" name="apiOrCustom" value="custom" />
    <input type="submit" value="Get Random Household Question" />
</form>


<h1 style="background-color:DodgerBlue;">@Model.FirstName @Model.LastName Stats</h1>

<p>Current Points:    <b>@Model.CurrentPoints</b></p>
<p>Total Points:      <b>@Model.TotalPoints</b></p>
<p>Correct Answers:   <b>@Model.CorrectAnswers</b></p>
<p>Incorrect Answers: <b>@Model.IncorrectAnswers</b></p>
<p>Chores Complete:   <b>@Model.ChoresComplete</b></p>

<a href="../Chore/ViewChores" class="btn-success">View Chores for this Houshold</a>
